<a href="https://colab.research.google.com/github/sgalsant/basedatos/blob/main/colab/tarea_introduccion_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Joins en SQL</h1>

## Alumno/a:.....

## inicialización

In [ ]:
database = 'prueba'

In [ ]:
#@title instalar mysql server con usuario "root" y contraseña "root"
%%shell
apt-get update > null
apt-get -y install mysql-server > null
/etc/init.d/mysql restart > null
service mysql status

mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

su: warning: cannot change directory to /nonexistent: No such file or directory
 * /usr/bin/mysqladmin  Ver 8.0.35-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2023, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.35-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			1 sec

Threads: 2  Questions: 8  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 8.000

In [ ]:
#@title version de sqlalchemy compatible con magic %sql
#!pip install sqlalchemy==1.4.46 ipython-sql==0.4.1 #la verion de magic sql %sql no es compatible con la version 2.0 o superiores
!pip install pymysql pydot
!pip install sqlalchemy_utils sqlalchemy_schemadisplay


import sqlalchemy
sqlalchemy.__version__ # doctest: +SKIP

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: pydot in /usr/local/lib/python3.10/dist-packages (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from pydot) (3.1.1)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Collecting sqlalchemy_utils
  Downloading SQLAlchemy_Utils-0.41.1-py3-none-any.whl (92 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.6/92.6 kB 1.9 MB/s eta 0:00:00
Collecting sqlalchemy_schemadisplay
  Downloading sqlalchemy_schemadisplay-1.3.zip (11 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: SQLAlchemy>=1.3 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_utils) (2.0.23)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_schemadisplay) (67.7.2)
Requirement already satisfied: pydot in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_schemadisplay) (1.4.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (3.0.2)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from pydot->sqlalchemy_schemadisplay) (3.1.1)
Building wheels for collected packages: sqlalchemy_schemadisplay
  Building wheel for sqlalchemy_schemadisplay (setup.py) ... done
  Created wheel for sqlalchemy_schemadisplay: filename=sqlalchemy_schemadisplay-1.3-py3-none-any.whl size=5909 sha256=a64b936f8dc1aa54d4b3d3130fe59aa49bda8c44fd869cb2bed7f049eed0a00b
  Stored in directory: /root/.cache/pip/wheels/0c/f7/e8/6f10d97bf57730bac61edef2341bb4ed47456c9b81f47f8c8c
Successfully built sqlalchemy_schemadisplay
Installing collected packages: sqlalchemy_utils, sqlalchemy_schemadisplay
Successfully installed sqlalchemy_schemadisplay-1.3 sqlalchemy_utils-0.41.1

'2.0.23'

In [ ]:
#@title conexión a la base de datos, borrando previamente la base de datos si existe
%env DATABASE_URL= mysql+pymysql://root:root@localhost/{database}

import os
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database, drop_database

engine = create_engine(os.environ["DATABASE_URL"])

if database_exists(engine.url):
    drop_database(engine.url)

create_database(engine.url)


%reload_ext sql

%sql show databases

env: DATABASE_URL=mysql+pymysql://root:root@localhost/prueba
 * mysql+pymysql://root:***@localhost/prueba
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('prueba',),
 ('sys',)]

## Útiles

In [ ]:
#@title obtiene el script de la base de datos
%%shell
mysqldump --add-drop-database -uroot -proot --databases prueba

## Ejercicios

In [ ]:
#@title Ejercicio1: crear la tabla empleados
%%sql

drop table if exists tableA;
create table tableA (
  idA integer auto_increment,
  valueA varchar(3) not null,
  primary key(idA)
);

drop table if exists tableB;
create table tableB (
  idB integer auto_increment,
  valueB varchar(3) not null,
  primary key(idB)
);

drop table if exists tableC;
create table tableC (
  idC integer auto_increment,
  valueC varchar(3) not null,
  primary key(idC, valueC)
);

insert into tableA (valueA)
values ('A1'), ('A2'), ('A3'), ('A4'), ('A5'), ('A6'), ('A7'), ('A8'), ('A9');

insert into tableB (valueB)
values ('B1'), ('B2'), ('B3'), ('B4'), ('B5');

insert into tableB (idB, valueB)
values (9, 'B9'), (10, 'B10');


insert into tableC (valueC)
values ('C1'), ('C2');

In [ ]:
%%sql
select *
from tableA;

🧑
## Producto cartesiano
El producto cartesino entre tablas obtiene como resultado todas las filas de una tabla combinada con todas las filas de otra tabla

In [ ]:
#@title producto cartesiano de dos tablas
%%sql
select valueA, valueB
from tableA, tableB
order by idA, idB;

 * mysql+pymysql://root:***@localhost/prueba
63 rows affected.

[('A1', 'B1'),
 ('A1', 'B2'),
 ('A1', 'B3'),
 ('A1', 'B4'),
 ('A1', 'B5'),
 ('A1', 'B9'),
 ('A1', 'B10'),
 ('A2', 'B1'),
 ('A2', 'B2'),
 ('A2', 'B3'),
 ('A2', 'B4'),
 ('A2', 'B5'),
 ('A2', 'B9'),
 ('A2', 'B10'),
 ('A3', 'B1'),
 ('A3', 'B2'),
 ('A3', 'B3'),
 ('A3', 'B4'),
 ('A3', 'B5'),
 ('A3', 'B9'),
 ('A3', 'B10'),
 ('A4', 'B1'),
 ('A4', 'B2'),
 ('A4', 'B3'),
 ('A4', 'B4'),
 ('A4', 'B5'),
 ('A4', 'B9'),
 ('A4', 'B10'),
 ('A5', 'B1'),
 ('A5', 'B2'),
 ('A5', 'B3'),
 ('A5', 'B4'),
 ('A5', 'B5'),
 ('A5', 'B9'),
 ('A5', 'B10'),
 ('A6', 'B1'),
 ('A6', 'B2'),
 ('A6', 'B3'),
 ('A6', 'B4'),
 ('A6', 'B5'),
 ('A6', 'B9'),
 ('A6', 'B10'),
 ('A7', 'B1'),
 ('A7', 'B2'),
 ('A7', 'B3'),
 ('A7', 'B4'),
 ('A7', 'B5'),
 ('A7', 'B9'),
 ('A7', 'B10'),
 ('A8', 'B1'),
 ('A8', 'B2'),
 ('A8', 'B3'),
 ('A8', 'B4'),
 ('A8', 'B5'),
 ('A8', 'B9'),
 ('A8', 'B10'),
 ('A9', 'B1'),
 ('A9', 'B2'),
 ('A9', 'B3'),
 ('A9', 'B4'),
 ('A9', 'B5'),
 ('A9', 'B9'),
 ('A9', 'B10')]

In [ ]:
#@title producto cartesiano de tres tablas
%%sql
select valueA, valueB, valueC
from tableA, tableB, tableC
order by idA, idB, idC;

 * mysql+pymysql://root:***@localhost/prueba
126 rows affected.

[('A1', 'B1', 'C1'),
 ('A1', 'B1', 'C2'),
 ('A1', 'B2', 'C1'),
 ('A1', 'B2', 'C2'),
 ('A1', 'B3', 'C1'),
 ('A1', 'B3', 'C2'),
 ('A1', 'B4', 'C1'),
 ('A1', 'B4', 'C2'),
 ('A1', 'B5', 'C1'),
 ('A1', 'B5', 'C2'),
 ('A1', 'B9', 'C1'),
 ('A1', 'B9', 'C2'),
 ('A1', 'B10', 'C1'),
 ('A1', 'B10', 'C2'),
 ('A2', 'B1', 'C1'),
 ('A2', 'B1', 'C2'),
 ('A2', 'B2', 'C1'),
 ('A2', 'B2', 'C2'),
 ('A2', 'B3', 'C1'),
 ('A2', 'B3', 'C2'),
 ('A2', 'B4', 'C1'),
 ('A2', 'B4', 'C2'),
 ('A2', 'B5', 'C1'),
 ('A2', 'B5', 'C2'),
 ('A2', 'B9', 'C1'),
 ('A2', 'B9', 'C2'),
 ('A2', 'B10', 'C1'),
 ('A2', 'B10', 'C2'),
 ('A3', 'B1', 'C1'),
 ('A3', 'B1', 'C2'),
 ('A3', 'B2', 'C1'),
 ('A3', 'B2', 'C2'),
 ('A3', 'B3', 'C1'),
 ('A3', 'B3', 'C2'),
 ('A3', 'B4', 'C1'),
 ('A3', 'B4', 'C2'),
 ('A3', 'B5', 'C1'),
 ('A3', 'B5', 'C2'),
 ('A3', 'B9', 'C1'),
 ('A3', 'B9', 'C2'),
 ('A3', 'B10', 'C1'),
 ('A3', 'B10', 'C2'),
 ('A4', 'B1', 'C1'),
 ('A4', 'B1', 'C2'),
 ('A4', 'B2', 'C1'),
 ('A4', 'B2', 'C2'),
 ('A4', 'B3', 'C1'),
 ('A4', 'B3', 'C2'),
 ('A4', 'B4', 'C1'),
 ('A4', 'B4', 'C2'),
 ('A4', 'B5', 'C1'),
 ('A4', 'B5', 'C2'),
 ('A4', 'B9', 'C1'),
 ('A4', 'B9', 'C2'),
 ('A4', 'B10', 'C1'),
 ('A4', 'B10', 'C2'),
 ('A5', 'B1', 'C1'),
 ('A5', 'B1', 'C2'),
 ('A5', 'B2', 'C1'),
 ('A5', 'B2', 'C2'),
 ('A5', 'B3', 'C1'),
 ('A5', 'B3', 'C2'),
 ('A5', 'B4', 'C1'),
 ('A5', 'B4', 'C2'),
 ('A5', 'B5', 'C1'),
 ('A5', 'B5', 'C2'),
 ('A5', 'B9', 'C1'),
 ('A5', 'B9', 'C2'),
 ('A5', 'B10', 'C1'),
 ('A5', 'B10', 'C2'),
 ('A6', 'B1', 'C1'),
 ('A6', 'B1', 'C2'),
 ('A6', 'B2', 'C1'),
 ('A6', 'B2', 'C2'),
 ('A6', 'B3', 'C1'),
 ('A6', 'B3', 'C2'),
 ('A6', 'B4', 'C1'),
 ('A6', 'B4', 'C2'),
 ('A6', 'B5', 'C1'),
 ('A6', 'B5', 'C2'),
 ('A6', 'B9', 'C1'),
 ('A6', 'B9', 'C2'),
 ('A6', 'B10', 'C1'),
 ('A6', 'B10', 'C2'),
 ('A7', 'B1', 'C1'),
 ('A7', 'B1', 'C2'),
 ('A7', 'B2', 'C1'),
 ('A7', 'B2', 'C2'),
 ('A7', 'B3', 'C1'),
 ('A7', 'B3', 'C2'),
 ('A7', 'B4', 'C1'),
 ('A7', 'B4', 'C2'),
 ('A7', 'B5', 'C1'),
 ('A7', 'B5', 'C2'),
 ('A7', 'B9', 'C1'),
 ('A7', 'B9', 'C2'),
 ('A7', 'B10', 'C1'),
 ('A7', 'B10', 'C2'),
 ('A8', 'B1', 'C1'),
 ('A8', 'B1', 'C2'),
 ('A8', 'B2', 'C1'),
 ('A8', 'B2', 'C2'),
 ('A8', 'B3', 'C1'),
 ('A8', 'B3', 'C2'),
 ('A8', 'B4', 'C1'),
 ('A8', 'B4', 'C2'),
 ('A8', 'B5', 'C1'),
 ('A8', 'B5', 'C2'),
 ('A8', 'B9', 'C1'),
 ('A8', 'B9', 'C2'),
 ('A8', 'B10', 'C1'),
 ('A8', 'B10', 'C2'),
 ('A9', 'B1', 'C1'),
 ('A9', 'B1', 'C2'),
 ('A9', 'B2', 'C1'),
 ('A9', 'B2', 'C2'),
 ('A9', 'B3', 'C1'),
 ('A9', 'B3', 'C2'),
 ('A9', 'B4', 'C1'),
 ('A9', 'B4', 'C2'),
 ('A9', 'B5', 'C1'),
 ('A9', 'B5', 'C2'),
 ('A9', 'B9', 'C1'),
 ('A9', 'B9', 'C2'),
 ('A9', 'B10', 'C1'),
 ('A9', 'B10', 'C2')]

🧑
##inner join
Combina dos tablas pero solo se obtiene las combinaciones que cumplen la condición especificada "ON"

In [ ]:
#@title inner join
%%sql
select valueA, valueB
from tableA inner join tableB on (idA = idB);

 * mysql+pymysql://root:***@localhost/prueba
6 rows affected.

[('A1', 'B1'),
 ('A2', 'B2'),
 ('A3', 'B3'),
 ('A4', 'B4'),
 ('A5', 'B5'),
 ('A9', 'B9')]

In [ ]:
#@title inner join es equivalente a un producto cartesiano filtrado
%%sql
select valueA, valueB
from tableA, tableB
where idA = idB;

In [ ]:
#@title inner join de tres tablas
%%sql
select valueA, valueB, valueC
from tableA inner join tableB on (idA = idB) inner join tableC on (idB = idC);

🧑
##left join
Mismo resultado que inner join pero añade todos las filas de la primera tabla que no se combina con otra fila de la segunda tabla. Las columnas de la segunda tabla tendrán valores NULL

In [ ]:
#@title left join
%%sql
select valueA, valueB
from tableA left join tableB on (idA = idB);

 * mysql+pymysql://root:***@localhost/prueba
9 rows affected.

[('A1', 'B1'),
 ('A2', 'B2'),
 ('A3', 'B3'),
 ('A4', 'B4'),
 ('A5', 'B5'),
 ('A6', None),
 ('A7', None),
 ('A8', None),
 ('A9', 'B9')]

🧑
#right join
Igual que left join, pero en este caso se incluye las filas de la segunda tabla que no se han combinado con ninguna fila de la otra tabla.

In [ ]:
#@title right join
%%sql
select valueA, valueB
from tableA right join tableB on (idA = idB);

🧑
#full join
Es la unión de los resultados de left y right join.

Hay sistemas gestores de bases de datos que aceptan la instrucción "full outer join". MySQL no lo soporta, por lo que lo implementamos con el operador "union"

In [ ]:
#@title full join - Es la union de left join y rigth join
%%sql
select valueA, valueB
from tableA left join tableB on (idA = idB)

union

select valueA, valueB
from tableA right join tableB on (idA = idB);

😸
#join de todos tipos
Aunque lo más habitual es trabajar con join que combina tablas en función de unas columnas que son claves ajenas, puedes hacer cualquier combinación que se te ocurra

In [ ]:
%%sql
select t1.valueA, t2.valueA
from tableA t1 inner join tableA t2 on (t1.idA < t2.idA);

 * mysql+pymysql://root:***@localhost/prueba
36 rows affected.

[('A1', 'A2'),
 ('A1', 'A3'),
 ('A1', 'A4'),
 ('A1', 'A5'),
 ('A1', 'A6'),
 ('A1', 'A7'),
 ('A1', 'A8'),
 ('A1', 'A9'),
 ('A2', 'A3'),
 ('A2', 'A4'),
 ('A2', 'A5'),
 ('A2', 'A6'),
 ('A2', 'A7'),
 ('A2', 'A8'),
 ('A2', 'A9'),
 ('A3', 'A4'),
 ('A3', 'A5'),
 ('A3', 'A6'),
 ('A3', 'A7'),
 ('A3', 'A8'),
 ('A3', 'A9'),
 ('A4', 'A5'),
 ('A4', 'A6'),
 ('A4', 'A7'),
 ('A4', 'A8'),
 ('A4', 'A9'),
 ('A5', 'A6'),
 ('A5', 'A7'),
 ('A5', 'A8'),
 ('A5', 'A9'),
 ('A6', 'A7'),
 ('A6', 'A8'),
 ('A6', 'A9'),
 ('A7', 'A8'),
 ('A7', 'A9'),
 ('A8', 'A9')]